body {
    background-image: url(/images/new-item2.webp);
    background-position: left center;
    background-attachment: fixed;
    background-size: 100%;
    margin-bottom: 5rem;

}
form{
    max-width: 50%;
}

@media screen and (max-width: 720px){
    form{
        max-width: 75% !important;
    }
}