<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<nav th:replace="fragments/navbar" class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
</nav>
<div class="container-verification">
    <h1>You need to verify your email before continue!</h1>
    <p class="success-message">An email has been sent to <th:block th:text="${userEmail}"></th:block>.Please check your inbox.</p>
</div>
</body>
</html>