<!DOCTYPE html>
<html>

<head >
   <meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>Registration</title>
   <link rel="stylesheet" href="/css/reset-css.css"/>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
   <link rel="stylesheet" th:href="@{/css/main.css}">
   <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
<nav th:replace="fragments/navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
</nav>
<h1>Registration Form</h1>
<main>
   <div class="left">
   </div>
   <div class="custom-file-control right">
      <form th:action="@{/users/register}" th:method="POST" th:object="${userRegisterDto}">
         <div>
            <label for="username" class="">Username</label>
            <input th:field="*{username}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control" id="username" name="username"/>
            <small th:errors="*{username}" class="invalid-feedback text-danger">Incorrect username!</small>
         </div>
         <div>
            <label for="email" >Email</label>
            <input th:field="*{email}"
                   th:errorclass="is-invalid"
                   type="email"  id="email" name="email"/>
            <small th:errors="*{email}" class="invalid-feedback text-danger">Incorrect email!</small>
         </div>
         <div>
            <label for="firstName" >First name</label>
            <input th:field="*{firstName}"
                   th:errorclass="is-invalid"
                   type="text"  class="form-control" id="firstName" name="firstName" />
            <small th:errors="*{firstName}" class="invalid-feedback text-danger">Incorrect name!</small>
         </div>
         <div>
            <label for="lastName" >Last name</label>
            <input th:field="*{lastName}"
                   th:errorclass="is-invalid"
                   type="text"  class="form-control" id="lastName" name="lastName" />
            <small th:errors="*{lastName}" class="invalid-feedback text-danger">Incorrect name!</small>
         </div>
         <div>
            <label for="password" >Password</label>
            <input
                    th:field="*{password}"
                    th:errorclass="is-invalid"
                    type="password" class="form-control" id="password" name="password" />
            <small th:errors="*{password}" class="invalid-feedback text-danger">Incorrect pasword!</small>
         </div>
         <div>
            <label for="confirmPassword" >Confirm Password</label>
            <input th:field="*{confirmPassword}"
                   type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
         </div>
         <div class="button__action">
            <button type="submit" class="btn btn-secondary text-white mb-3" th:value="Register">Register</button>
         </div>
      </form>
   </div>
</main>
</body>
</html>
