<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/manage-users.css}">
</head>
<body>
<nav th:replace="fragments/navbar" class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
</nav>

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table user-table mb-0">
                        <thead >
                        <tr>
                            <th scope="col" class="border-0 text-uppercase font-medium pl-4">User Id</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Username</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Town</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                        </tr>
                        </thead>
                        <tbody th:each="u : ${nonAdminUsers}">
                        <tr >
                            <td class="pl-4" th:text="${u.id}">1</td>
                            <td>
                                <h5 class="font-medium mb-0" th:text="${u.firstName}+ ' ' +${u.lastName}">Full Name</h5>
                            </td>
                            <td>
                                <span class="text-muted" th:text="${u.username}">Username</span><br>
                            </td>
                            <td>
                                <span class="text-muted" th:text="${u.email}">daniel@website.com</span><br>
                                <span class="text-muted">999 - 444 - 555</span>
                            </td>
                            <td>
                                <span class="text-muted" th:text="${u.town}">Town</span><br>
                                <span class="text-muted">10: 55 AM</span>
                            </td>
                            <td class="role_manage" th:each="r : ${u.getRoleEntities()}">
                                <span class="text-muted" th:text="${r.name}">User</span><br>
                            </td>
                            <td>
                                <a  th:href="|/admin/ban/${u.id}|" th:if="${u.getRoleEntities().size() == 1}" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa-solid fa-user-xmark"></i></a>
                                <a th:href="|/admin/promote/${u.id}|" th:if="${u.getRoleEntities().size() == 1}"  class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa-solid fa-person-arrow-up-from-line"></i> </a>
                                <a  th:href="|/admin/view/details/${u.id}|" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa-solid fa-eye"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>