<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/show-items.css}">
</head>
<body>
<nav th:replace="fragments/navbar" class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
</nav>

    <h1 class="text-center my-5" th:if="${items.size()>0}" th:text="|${#strings.capitalize(items.get(0).categoryName.toLowerCase())} category!|">Test</h1>
    <h1 class="text-center my-5" th:if="${items.size()==0}">No items from this category!</h1>
<div class="wrapper">
    <ul role="list">
        <li th:each="i : ${items}" th:object="${i}">
            <img th:src="@{/items/download/{imgId}(imgId = ${i.imgId})}" class=" border p-3" alt="picture of item">
            <div>
                <h3 th:text="${i.name}">Digital Currency</h3>
                <p class="text-muted" th:text="|Price is: ${i.price}|">Starting from $499</p>
                <a class="btn btn-outline-primary btn-sm" th:href="@{/items/details/{id}(id=${i.id})}" data-abc="true">View Products</a>
            </div>

        </li>
    </ul>
</div>
</body>
</html>